@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif; 
    background-color: black;    
}
 .background-image{
    background-image: url("assets/Title-Image.png");
    background-size: cover;
    height: 700px;
    
}
.navigation-bar{
    display: flex;
    background-color: rgba(13, 13, 14, 0.027);
    height: 40px;

}
.logo-container{
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 50px;
    align-items: center;
}
.logo{
    width: 90px;
    height: 25px;
}
.nav-text{
    flex: 1;
    margin-left: 20px;
    color: rgb(252, 252, 252);
    font-weight: 400;
}
.icons{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.search-icon,.gift-icon,.bell-icon,.downarrow{
    height: 20px;
    
}
.show-name-container{
    margin-top: 330px;
    margin-left:60px;
}
.small-logo{
    display: flex;
    align-items: center;
}
.NlogoRGB{
    width: 15px;
}
.show{
    margin-left: 5px;
    color:white;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 15px;
    margin-left: 10px;
}

.show-name{
    font-size: 125px;
    color: white;
    font-weight: 600;
    margin-left: -10px;
}
.actions{
    display: flex;
}
.play-button,.more-info-button{
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 5px 15px;
    font-size: 12px;
    border: none;
}
.more-info-button{
    background-color: rgb(248, 226, 226);
    margin-left: 20px;
 
}
.more-info-logo,.play-logo{
    margin-right: 5px;
    height: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5,250px) ;
    grid-template-rows: 160px;
    column-gap: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.grid-item-a1{
    background: url(assets/section\ 1.1.png);
    background-size: 100% 100%;
}.grid-item-a2{
    background: url(assets/section\ 1.2.png);
    background-size: 100% 100%;
}.grid-item-a3{
    background: url(assets/section\ 1.3.png);
    background-size: 100% 100%;
}.grid-item-a4{
    background: url(assets/section\ 1.4.png);
    background-size: 100% 100%;
}.grid-item-a5{
    background: url(assets/section\ 1.5.png);
    background-size: 100% 100%;
}
.grid-item-c1{
    background: url(assets/section\ 3.1.png);
    background-size: 100% 100%;
}.grid-item-c2{
    background: url(assets/section\ 3.2.png);
    background-size: 100% 100%;
}.grid-item-c3{
    background: url(assets/section\ 3.3.png);
    background-size: 100% 100%;
}.grid-item-c4{
    background: url(assets/section\ 3.4.png);
    background-size: 100% 100%;
}.grid-item-c5{
    background: url(assets/section\ 3.5.png);
    background-size: 100% 100%;
}.grid-item-d1{
    background: url(assets/section\ 4.1.png);
    background-size: 100% 100%;
}.grid-item-d2{
    background: url(assets/section\ 4.2.png);
    background-size: 100% 100%;
}.grid-item-d3{
    background: url(assets/section\ 4.3.png);
    background-size: 100% 100%;
}.grid-item-d5{
    background: url(assets/section\ 4.4.png);
    background-size: 100% 100%;
}.grid-item-d4{
    background: url(assets/section\ 4.5.png);
    background-size: 100% 100%;
}

.ranked-row{
    margin-bottom: 50px;
    margin-left: 30px; 
}
.rank1,.rank2,.rank3,.rank4,.rank5,.rank6{
    width: 110px;
    height: 190px;
}
 .text{
    margin-left: 30px;
    margin-bottom: 10px;
    color: rgb(218, 42, 42);
}
.rank1{
    margin-left: -40px;
}
  
.footer-container{
     margin-left: 300px; 
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    width: 180px;
    opacity: .5;
}
.footer-names{
    margin-top: -10px;
}
.column1,.column2,.column3,.column4{
    display: inline-block;
    height: 170px;
    vertical-align: top;
    margin-right: 120px;
    color: white;
    font-size: 15px;
    line-height: 35px;
    margin-top: 30px;
    opacity: .3;
}
.bottom-box{
    color: white;
    border: 2px solid rgb(250, 245, 245);
    display: inline;
    padding: 10px;
    opacity: .3;
    font-size: 15px;
}

.bottom-line{
    color: white;
    margin-top: 30px;
    font-size: 13px;
    opacity: .3;
}

 @media (orientation: portrait) {
    body{
        background-color: rgb(12, 6, 6);
    }
    .background-image{
    background: url(assets/Title-Image.png); 
    background-size: 100% 100%;
    height: 300px;
   }
   .navigation-bar{
    display: flex;
    height: 20px;
}
.logo-container{
    display: flex;
    flex: 1;
    margin-left: 10px;
}
.logo{
    width: 65px;
    height: 17px;
}
.nav-text{
    flex: 1;
    margin-left: 20px;
    color: white;
    font-weight: 400;
    font-size: 15px;
}
a{
    margin-right: 10px;
}
.icons{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.search-icon,.gift-icon,.bell-icon,.profile-icon,.downarrow{
    height: 15px;    
}
   .show-name-container{
    margin-top: 100px;
    margin-left:30px;
}
.small-logo{
    display: flex;
    align-items: center;
}
.NlogoRGB{
    width: 10px;
}
.show{
    margin-left: 5px;
    color:white;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 8px;
    margin-left: 10px;
}

.show-name{
    font-size: 50px;
    color: white;
    font-weight: 600;
    margin-left: -10px;
}
.actions{
    display: flex;
}
.play-button,.more-info-button{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 4px 7px;
    font-size: 10px;
}
.more-info-button{
    background-color: rgba(255, 254, 254, 0.541);
    margin-left: 10px;
 
}
.more-info-logo,.play-logo{
    margin-right: 5px;
    height: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 170px;
    column-gap: 10px;
    margin-left: 20px;
    margin-top: 0px;
}
.grid-item-a1{
    background: url(assets/section\ 1.1.png);
    background-size: 100% 100%;
}
.grid-item-a2{
    background: url(assets/section\ 1.2.png);
    background-size: 100% 100%;
} 
.grid-item-b1{
    background: url(assets/section\ 2.1.png);
    background-size: 100% 100%;
}
.grid-item-b2{
    background: url(assets/section\ 2.2.png);
    background-size: 100% 100%;
}
.grid-item-c1{
    background: url(assets/section\ 3.1.png);
    background-size: 100% 100%;
}
.grid-item-c2{
    background: url(assets/section\ 3.2.png);
    background-size: 100% 100%;
} 
.grid-item-d1{
    background: url(assets/section\ 4.1.png);
    background-size: 100% 100%;
}
.grid-item-d2{
    background: url(assets/section\ 4.2.png);
    background-size: 100% 100%;
}

.text{
    margin-left: 20px;
    margin-bottom: 5px;
    color: rgb(218, 42, 42);
}
#grid-layout{
    margin-top: -30px;
    margin-bottom: 7px;
    font-size: 15px;
    margin-left: 20px;
    color: rgb(238, 14, 14);
}
.rightarrow{
height: 15px;
}
.section3,.section4,.section5,.rank3,.rank4,.rank5,.rank6{
    display: none;
}
.ranked-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 160px;
    column-gap: 20px;
    margin-left: 10px;
} 
.footer-container{
    margin-left: 20px; 
}
.footer-icons{
   display: flex;
   justify-content: space-between;
   width: 140px;
}
.footer-names{
   margin-top: -10px;
}
.column1,.column2,.column3,.column4{
   display: inline-block;
   color: white;
   margin-right: 30px;
   font-size: 13px;
   opacity: .3;
}
.bottom-box{
   color: white;
   border: 2px solid white;
   padding: 5px;
   opacity: .3;
   font-size: 10px;
}

.bottom-line{
   color: white;
   margin-top: 30px;
   font-size: 8px;
   opacity: .3;
}

}